Repository adorsys/keycloak-config-cli, pull requests merged in 2024-12, with the labels that each got.

#1213 Fix Initial Credentials Causes Update
  CHANGELOG.md
  src/main/java/de/adorsys/keycloak/config/service/UserImportService.java
  src/main/java/de/adorsys/keycloak/config/util/CloneUtil.java
  src/test/java/de/adorsys/keycloak/config/service/ImportUsersIT.java
  src/test/resources/import-files/users/15.0_update_realm_change_clientusers_password.json
  src/test/resources/import-files/users/15.1_update_realm_change_clientusers_password.json
Labels: bug, java

#1217 feat publish charts with github pages
  .github/workflows/ci.yaml
  CHANGELOG.md
Labels: enhancement, github_actions

#1228 fix: Deleting protocol mappers during config import
  CHANGELOG.md
  src/main/java/de/adorsys/keycloak/config/util/ProtocolMapperUtil.java
Labels: bug
